beautifulsoup4
blis
boto
boto3
botocore
catalogue
certifi
chardet
click
cymem
docutils
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
filelock
Flask
future
gensim==3.8.3
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
joblib
MarkupSafe
murmurhash
numpy
packaging
Pillow
plac
preshed
pyparsing
python-dateutil
regex
requests
s3transfer
sacremoses
scipy
sentencepiece
six
smart-open
soupsieve
spacy
srsly
thinc
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
urllib3
wasabi
Werkzeug
wikipedia
zipp
